html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content{
  flex-grow: 1;
  margin: 10%;
}

.socials {
  display: flex;
  justify-content: left;
  list-style-type: none;
  text-decoration: none;
}

.socials li {
  margin: 5% 1% 0 0;
}

.socials a {
  text-decoration: none;
  color: black;
}

* {
  font-family: "Helvetica";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: left;
  margin: 1%;
  padding: 2%;
  list-style-type: none;
}

.navbar li {
  margin: 0 0 0 2%;
  text-decoration: none;
}

.navbar li a {
  text-decoration: none;
  color: black;
  padding: 0;
  display: block;
}

.man {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5%;
  list-style-type: none;
}

.man li {
  background-color: aquamarine;
  text-align: center;
  padding: 10%;
}

.man a{
  text-decoration: none;
  color: black;
}

.vaultman {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  list-style-type: none;
  
}

.vaultman li {
  background-color: aquamarine;
  text-align: center;
  padding: 10%;
  
}

.vaultman a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  color:grey;
}
